/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move {

  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }

}

@keyframes spark {
  0% {
    fill: none;
  }
  50% {
    fill: var(--body-color);
  }
  100% {
    fill: none;
  }
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heart:active .core{
  fill: var(--body-color);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--body-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

/*heart classes*/

.heart {
  z-index: 2;
}

.sparks {
  fill: none;
}

.heart .core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.heart  .main-body {
  transition: fill 0.3s linear;
}

.heart:hover .core {
    fill: var(--contur-color);
    transition: fill 0.3s linear;
}
  
.heart:hover  .main-body {
    fill: var(--contur-color);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--body-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contur {
  fill: var(--body-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon .contur {
  fill: var(--contur-color);
  transition: fill 0.1s linear;
}

.heart {
  /* начальный размер сердца */
  transform: scale(1);
}

.is-liked .heart {
  /* запускаем анимацию через 0.1s после появления класса is-liked */
  animation: scale-heart 0.3s ease-in 0.1s alternate;
}

.is-liked .sparks {
  /* запускаем анимацию через 0.3s после появления класса is-liked */
  animation: spark 0.3s ease-in-out 0.3s alternate;
}