/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. 
Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--variable-font), sans-serif;
  font-variation-settings: var(--weight-base);
  color: var(--accent-color);
  background-image: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*header classes*/

.header {
  background-color: var(--card-background);
  border: 2px solid var(--accent-color);
  font-family: var(--font), sans-serif;
  margin-bottom: 104px;
  width: var(--card-size);
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-top: 102px;
}

.header__inside {
  height: 364px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-self: center;
}

.header__text {
  font-size: var(--header-font-size);
  margin-bottom: 20px;
  margin-top: var(--margin-header-top);
  text-decoration: none;
}

.header__text:focus {
  outline: none;
}

.header__subtext {
  margin-bottom: 23px;
  font-size: var(--header-subfont-size);
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  text-align: left;
  padding-bottom: 25px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  left: -14px;
  content: '▶';
  width: 14px;
  height: 13px;
  color: var(--accent-color);
  animation: move 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  width: 0%;
  transition: width 0.3s;
}
.theme-menu__button:hover::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

/*main classes*/

.main {
  display: grid;
  justify-content: center;
  gap: 57px;
}

.card {
  display: grid;
  justify-self: center;
  background-color: var(--card-background);
  border: 2px solid var(--accent-color);
  width: var(--card-size);
}

.card__header-settings {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-head);
  line-height: normal;
}

.card__text-settings {
  padding-left:25px;
  padding-right:25px;
  padding-top: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--weight-base);
  line-height: 21px;
}

.card__tag-image {
  position: relative;
}

.card__corner-text {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  mix-blend-mode: hard-light;
  opacity: 50%;

  text-shadow:
    -1px 0 var(--tag-color), 
   0 1px var(--tag-color), 
   1px 0 var(--tag-color), 
   0 -1px var(--tag-color);
}

@supports((text-stroke: 1px var(--tag-color)) or (-webkit-text-stroke: 1px var(--tag-color))) {
  .card__corner-text {
      -webkit-text-stroke: 1px var(--tag-color);
      text-stroke: 1px var(--tag-color);
      text-shadow: none;
  }
} 

.card__image {
  display: block;
  border: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: right;
  gap: 12px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.card__like-button {
  height: 38px;
  width: 130px;
  border: 2px solid var(--accent-color);
  background-color: var(--card-background);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-130%);
  transition: transform 0.5s ease-in-out;
}
.card__like-button:hover::before {
  transform: translateX(-28%);
}

.card__like-button:focus-visible {
  outline: 0;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}

.card__like-button:focus {
  outline: 0;
}

.card__icon-button {
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.button__text {
  position: relative;
  font-family: var(--font);
  font-size: 14px;
  z-index: 2;
  color: var(--card-background);
  mix-blend-mode: difference;
}

.button__text:hover {
  color: var(--background-color);
  transition: color 0.3s;
}

.main__memory-card {
  display: grid;
  width: 335px;
  grid-template-columns: repeat(2, auto);
  border: 2px solid var(--accent-color);
  background-color: var(--card-background);
  height: 51px;
  justify-self: center;
  align-items: center;
  margin-bottom: 105px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

.main__memory-card::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.main__memory-card:hover::before {
  transform: translateX(0);
}

.main__memory-card:focus-visible {
  outline: 0;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}

.main__memory-card:focus {
  outline: 0;
}

.floppy {
  scale: 0.5;
  mix-blend-mode: difference;
  color: var(--card-background);
}

/*dialog classes*/

.dialog {
  width: var(--dialog-card-width);
  margin-left: var(--dialog-card-margin);
  margin-right: var(--dialog-card-margin);
  background-color: var(--card-background);
  border: 2px solid var(--accent-color);
  justify-self: center;
  align-self: center;
  padding: 0;
}

.dialog__form {
  margin: 31px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 30px;
}

.floppy-dialog {
  scale: 1;
  mix-blend-mode: difference;
  color: var(--card-background)
}

.dialog__main-text {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog__button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  text-align: center;
  grid-row: 2/3;
  grid-column: 1/3;
  height: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
} 

/*media classes*/

@media (width <= 376px) {


  .header {
    width: 100%;
  }

  .header__inside {
    height: 323px;
  }

  .main {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .main__memory-card {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    height: 80px;
    width: 306px
  }
  .dialog {
    margin-left: 17px;
    margin-right: 17px;
  }
}
